.login-screen{
    height: calc(100%);
    width: calc(100%);
    background-color: #26272B;
}
.login-background{
    height: calc(100%);
    width: calc(100%);
    background-size: cover;
    opacity: 0.15;
}
.login-form{
    height: 400px;
    width: 275px;
    border-radius: 15px;
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color:#212226;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    z-index: 5;
}
.logo{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    font-family: 'Dongle';
    font-size: 6.5vh;
    font-weight: '700';
    color: white;   
    line-height:25px;
}
.logo span{
    font-family: 'Roboto';
    font-size: 3.5vh;
    font-weight: 300;
    letter-spacing: 8px;
}
.divider-bar{
    width: 40px;
    height: 8px;
    background-color: #fff;
    border-radius: 15px;
    margin-top: 5px;
}
.input-container{
    width:calc(100%);
    padding: 0 20px;
}
.input-username, .input-password{
    display: flex;
    flex-direction: column;
    width: calc(100%);
    height: 20px;
    background:none;
    border: none;
    border-bottom: 1px solid #575757;
    outline: none;
    margin-top: 20px;
    color:#fff;
    font-family: 'Roboto';
    font-weight: 500;
}
.input-username::placeholder, .input-password::placeholder{
    font-family: 'Dongle';
    font-size: 3.5vh;
    letter-spacing: 2px;
    color: #575757;
    opacity: .8;
}
.sign-up-in{
    display:flex;
    font-weight: 700;
    justify-content: flex-start;
    align-items: center;
    width: calc(100%);
    padding: 0 20px;
    margin-top: 30px;
}
.sign-up{
    margin-left: 15px;
    color:#707070;
}
.sign-in{
    color:#ffffff
}
.sign-in-inactive{
    color:#707070;
}
.sign-in-inactive:hover{
    cursor: pointer;
}
.sign-up.selected{
    color:#fff;
}
.sign-up:hover, .sign-in:hover{
    cursor: pointer;
}
.login-button-container{
    width: calc(100%);
    height: 100px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 20px;
}
.login-button{
    height: 50px;
    width: 50px;
    border: none;
    border-radius:25px;
    outline:none;
    background:#D4AB15;
    color:#fff;
    display:flex;
    justify-content: center;
    align-items: center;
}
.login-button:hover{
    cursor: pointer;
}